.prime-container {
	background-color: #3c3c3c;
}
.nav-bar {
	width: 99%;
	margin: 0 auto;
}

.flex {
	align-items: center;
	justify-content: space-between;
	/* width: 90%; */
}
.nav-bar-close-options {
	/* width: %; */
	display: flex;
	/* background-color: red; */
}
.nav-options {
	align-items: center;
	margin-left: 15px;
	/* background-color: red; */
}
.nav-options .nav-option {
	font-size: 14px;
	margin-right: 9px;
	padding: 2px;
	cursor: pointer;
}
.nav-bar-close-options .close-option {
	height: 12px;
	width: 12px;
	background-color: green;
	justify-content: space-between;
	display: flex;
	margin-left: 10px;
	border-radius: 50%;
	cursor: pointer;
}
/* styling the sidebar menu */
.side-bar-meny {
	background-color: #333333;
	width: 65px;
	height: 95vh;
	position: relative;
}
.icon-side-bar {
	height: 35px;
	width: 35px;
	margin: 0 auto;
	padding-top: 10px;
	cursor: pointer;
	/* padding: 10px; */
}
.position-bottom {
	position: absolute;
	bottom: 0;
	/* width: 100%; */
	justify-content: center;
	margin-bottom: 10px;
	margin-left: 15%;
}
.hover-effect:hover {
	border-left: 2px solid #fff;
	height: 40px;
}
.bottom-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #007acc;
}
.left-info {
	display: flex;
	align-items: center;
	font-size: 13px;
}
.right-info {
	display: flex;
	align-items: center;
	margin-right: 10px;
	font-size: 13px;
}
.info {
	margin-left: 10px;
}
.tagle-open {
	display: flex;
}
.navigation-menue {
	background-color: #252526;
	/* width: 30%; */
	/* margin-right: 35px; */
}
.navigation-menue > h2 {
	font-weight: 800;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 200px;
}

.drop-open-menu {
	display: flex;
	align-items: center;
	font-size: 14px;
	cursor: pointer;
}
.options-menu {
	display: flex;
	align-items: center;
	padding-left: 50px !important;
	font-size: 15px;
	padding: 3px 0 3px;
	width: 290px;

	/* justify-content: center; */
}
.options-menu:hover {
	background-color: #37373d;
	cursor: pointer;
}
.options-menu > p {
	margin-left: 20px;
	font-size: 14px;
}

/* Working on the about section */
.about-container {
	/* background-color: red; */
	width: 70%;
	/* display: flex; */
	/* justify-content: center; */
	margin: 0 auto;
}
.container-info {
	display: flex;
	/* margin: 0 auto; */
	margin-top: 50px;
	align-items: center;
}
.description-left {
	width: 50%;
}
.description-right {
	width: 500px;
	height: 500px;
	/* background-color: #007acc; */
}

.description-right > img {
	width: inherit;
	width: 100%;
}
.description-left > h1 {
	font-weight: 800;
	font-size: 50px;
	color: #007acc;
}
.description-left > p {
	font-size: 23px;
}
.links-socila {
	display: flex;
	margin-top: 20px;
}
.socila-media {
	margin-right: 20px;
}
.auto-type {
	/* color: red !important; */
}
.description-left > span {
	font-size: 35px;
	color: aqua;
}

/* Working on the experience  */
.experience-container {
	width: 100%;
	height: 100%;
}
.work-experience {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	/* background-color: red; */
	text-align: center;
}
.experience-container {
	margin-top: 10px;
}
.work-experience > h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 800;
}
.work-experience > h2 {
	color: #007acc;
	font-size: 25px;
	font-weight: 800;
}
.empty-div {
	width: 5px;
	background-color: #fff;
	height: 1000px;
	position: absolute;
	left: 50%;
}
.thread-section {
	height: 80vh;
	overflow-y: hidden;
	/* justify-content: center; */
	width: 100%;
	/* margin: 0 auto; */
	background-color: #007acc;
	position: relative;
}
