.prime-container {
	background-color: #3c3c3c;
}
.nav-bar {
	width: 99%;
	margin: 0 auto;
}
.start-here {
	position: absolute;
	left: 80px;
	width: 100px;
	margin-top: 10px;
	z-index: 999;

	border-radius: 5px;
}
.empty-btn {
	font-size: 18px;
	font-weight: 700;
	color: #007acc;
}
/* ================Start her================== */
.callout {
	/* height: 20px; */
	width: 350px;
	/*float: left;*/
	z-index: 1;
}
.callout {
	background-color: #444;
	background-image: -moz-linear-gradient(top, #444, #444);
	position: relative;
	color: #ccc;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 20px #999;
	/* //margin: 25px; */
	min-height: 20px;
	border: 1px solid #333;
	text-shadow: 0 0 1px #000;
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}
.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}
.callout.left::before {
	left: 0%;
	right: -20px;
	top: 40%;
	border-left: 10px solid #444;
}
.callout.top::before {
	border-right: 11px solid #444;
	top: 5px;
	left: -20px;
}
.callout.bottom::before {
	left: 45%;
	top: -20px;
	border-bottom: 10px solid #444;
}
.callout.right::before {
	top: 40%;
	border-right: 10px solid #444;
}
.callout.top-left::before {
	/*left: 7px;*/
	bottom: -20px;
	border-top: 10px solid #444;
}
.callout.top-right::before {
	/*right: 7px;*/
	bottom: -20px;
	border-top: 10px solid #444;
}
/* ================End here ==================*/
.empty-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex {
	align-items: center;
	justify-content: space-between;
	/* width: 90%; */
}
.nav-bar-close-options {
	/* width: %; */
	display: flex;
}
.nav-options {
	align-items: center;
	margin-left: 15px;
}
.nav-options .nav-option {
	font-size: 12px;
	margin-right: 9px;
	padding: 2px;
	cursor: pointer;
}
.nav-bar-close-options .close-option {
	height: 12px;
	width: 12px;
	background-color: green;
	justify-content: space-between;
	display: flex;
	margin-left: 10px;
	border-radius: 50%;
	cursor: pointer;
}
/* styling the sidebar menu */
.side-bar-meny {
	background-color: #333333;
	width: 49px;
	height: 95vh;
	position: relative;
}
.icon-side-bar {
	height: 35px;
	width: 35px;
	margin: 0 auto;
	padding-top: 10px;
	cursor: pointer;
	/* padding: 10px; */
}
.position-bottom {
	position: absolute;
	bottom: 0;
	/* width: 100%; */
	justify-content: center;
	margin-bottom: 10px;
	margin-left: 15%;
}
.hover-effect:hover {
	border-left: 2px solid #fff;
	height: 40px;
}
.bottom-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #007acc;
}
.left-info {
	display: flex;
	align-items: center;
	font-size: 13px;
}
.right-info {
	display: flex;
	align-items: center;
	margin-right: 10px;
	font-size: 13px;
}
.info {
	margin-left: 10px;
}
.tagle-open {
	display: flex;
}
.navigation-menue {
	background-color: #252526;
	/* width: 30%; */
	/* margin-right: 35px; */
}
.navigation-menue > h2 {
	font-weight: 800;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 200px;
}

.drop-open-menu {
	display: flex;
	align-items: center;
	font-size: 12px;
	cursor: pointer;
	padding: 0.3rem;
}
.drop-open-menu > h3 > span {
	margin-bottom: 5px;
}
.drop-open-menu:hover {
	color: #fff;
	font-weight: 500;
	background-color: #2c2c2d;
}
.drop-open-menu > h3 {
	display: flex;
	align-items: center;
}
.drop-open-menu > h3 > span {
	margin-top: 0.5rem;
	margin-left: 0.6rem;
}
.options-menu {
	display: flex;
	align-items: center;
	padding-left: 50px !important;
	font-size: 15px;
	padding: 3px 0 3px;
	/* width: 290px; */

	/* justify-content: center; */
}
.options-menu:hover {
	background-color: #37373d;
	cursor: pointer;
}
.options-menu > p {
	margin-left: 20px;
	font-size: 12px;
}

/* Working on the about section */
.about-container {
	display: flex;
	position: relative;
	width: 100%;
	/* justify-content: center; */
	margin: 0 auto;
}
.about-container > img {
	height: 90vh;
	/* width: 30%; */
	right: 0;
	bottom: 0;
	z-index: 0;
	position: absolute;
}
.container-info {
	width: 80%;
	margin-left: 10%;
	display: flex;
	/* margin: 0 auto; */
	margin-top: 10%;
	position: absolute;
	align-items: center;
}
.description-left {
	width: 50%;
}
.description-right {
	width: 500px;
	height: 500px;
	/* background-color: #007acc; */
}

.description-right > img {
	width: inherit;
	width: 100%;
}
.description-left > h1 {
	font-weight: 800;
	font-size: 50px;
	background-color: #f3ec78;
	background-image: linear-gradient(45deg, #f3ec78, #af4261);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
.description-left > p {
	font-size: 23px;
}
.links-socila {
	display: flex;
	margin-top: 20px;
}
.socila-media {
	margin-right: 20px;
}
.auto-type {
}
.description-left > span {
	font-size: 35px;
	color: aqua;
}

/* Working on the experience  */
.experience-container {
	width: 100%;
	height: 100%;
}
.work-experience {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.experience-container {
	margin-top: 10px;
}
.work-experience > h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 800;
}
.work-experience > h2 {
	color: #007acc;
	font-size: 25px;
	font-weight: 800;
}
.empty-div {
	width: 5px;
	border-radius: 5px;
	background-color: #fff;
	height: 1000px;
	position: absolute;
	left: 50%;
}

.thread-section {
	height: 80vh;
	overflow-y: hidden;
	/* justify-content: center; */
	width: 100%;
	/* margin: 0 auto; */
	/* background-color: #007acc; */
	position: relative;
}
.experienc-1 {
	position: absolute;
	/* background-color: #333333; */
	height: 500px;
	width: 50%;
	left: 31px;
	top: 30px;
	z-index: 1;
}
.experience-2 {
	/* right: 0; */
	position: absolute;
	/* background-color: red; */
	width: 50%;
	bottom: 0;
	z-index: 1;
	margin-right: 29px;
	/* left: ; */
	right: 0;
}
.mohi {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.responsibility {
	margin-top: 30px;
	background-image: linear-gradient(to right, #4a00e0, #8e2de2);
	width: 500px;
	border-radius: 5px;
	border-bottom: 3px solid #fff;
}
.img-icon > img {
	border-radius: 50px;
	object-fit: cover;
}

/* Designing component for experience card */
.company-details {
	padding: 15px;
	color: #fff;
}
.company-details > h3 {
	font-weight: 700;
}
.company-details > h4 {
	font-style: italic;
	/* font-weight: 600; */
}
.company-details ul {
	list-style-type: circle;
	margin: 15px;
	text-align: left;
}
.company-details ul > li {
	margin-top: 5px;
	font-size: 18px;
}
.company-details > h5 {
	text-align: left;
	color: #fbbf24;
	font-weight: 700;
}

.language-skill {
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.icon-skill {
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
}
.language-skill > p {
	font-size: 20px;
	font-weight: 700;
	margin-left: 20px;
	margin-right: 10%;
}

.skills-data > h3 {
	font-size: 20px;
	color: #9ca3af;
	margin-bottom: 5px;
}
.skills-component {
	width: 75%;
	margin-top: 20px;
	margin-left: 40px;
}
.skills-component > h1 {
	font-size: 40px;
	font-weight: 800;
	color: #007acc;
}
.skills-component > p {
	font-size: 18px;
	width: 50%;
}
.skills-data {
	margin-top: 30px;
	display: grid;
	width: 90%;
}

/* Project css starter */
.card-pro {
	margin-top: 30px;
}
.project-card {
	border-radius: 5px;
	width: 35%;
	border: 1px solid #cccc;
	cursor: pointer;
}
.project-card:hover {
	box-shadow: rgba(240, 239, 239, 0.253) 0px 10px 20px,
		rgba(236, 232, 232, 0.329) 0px 6px 6px;
}
.image-card > img {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	object-fit: cover;
}
.icon-logo {
	height: 50px;
	width: 50px;
}
.icon-logo > img {
	border-radius: 50px;
	object-fit: cover;
}
.card-description {
	display: flex;
	padding: 10px;
	align-items: center;
}
.title-name {
	margin-left: 15px;
}
.title-name > p {
	color: #ccc;
}
.title-name > h2 {
	font-weight: 800;
	font-size: 20px;
}

.resume-link {
	margin-top: 25px;
}
.resume-btn {
	font-weight: 800;
	font-size: 50px;
	background-color: #f3ec78;
	background-image: linear-gradient(45deg, #f3ec78, #af4261);
	background-size: 100%;
	color: #000 !important;
	font-weight: 700 !important;
}
.resume-btn:hover {
	color: #fff !important;
	font-weight: 700 !important;
}

/* Working on the Email Section */
.email-container {
	width: 100%;
}
.email-card {
	margin-top: 5rem !important;
	width: 70%;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}
.email-left {
	width: 48%;
	max-width: 1000px;
}
.email-left > h1 {
	font-weight: 800;
	font-size: 50px;
	background-color: #f3ec78;
	background-image: linear-gradient(45deg, #f3ec78, #af4261);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
.email-left > h2 {
	font-size: 25px;
	color: #595959;
	padding: 2px 0 5px;
}
.email-left > p {
	font-size: 16px;
	color: #ccc;
}
.outer-email-container {
	padding: 30px;

	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.email-right {
	width: 45%;
	/* margin-right: 30px; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.email-right > input {
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px;
	font-weight: 700;
	border: none;
}
.email-right > textarea {
	border-radius: 5px;
	padding: 10px;
	font-weight: 700;
	margin-bottom: 15px;
}
.email-submit-btn {
	font-weight: 700 !important;
	width: 20%;
	font-size: 16px !important;
}

/* working on the blog css */
.hobbies-container {
	width: 100%;
}
.inner-conatiner {
	width: 85%;
	margin: 0 auto;
	padding: 30px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.inner-conatiner > h1 {
	color: #007acc;
	font-weight: 800;
	font-size: 50px;
}
.hobby-lists {
	margin-top: 10px;
	width: 55%;
	display: flex;
	justify-content: space-between;
}
.hobby-lists .hobbie {
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.hobby-lists .hobbie:hover {
	background-color: #3c3c3c;
}
.hobby-lists .hobbie > h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
}
.blog-img {
	background-color: #fff;
	width: 100px;
	/* margin: 0 auto; */
	justify-content: center;
	display: flex;
	border-radius: 5px;
	padding: 10px;
}
